.work-activities {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(0 87 69 / var(--tw-text-opacity));
  font-weight: 700;
}
.regular_text {
  --tw-text-opacity: 1;
  color: rgb(0 87 69 / var(--tw-text-opacity));
  font-weight: 700;
  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  padding-bottom: 0.75rem /* 12px */;
}
