.mini-cart {
  border: 1px solid #005745;
  /* border-radius: 12px; */
  width: 150px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0.5;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.mini-cart {
  cursor: pointer;
  position: relative;
}
.mini-cart span {
  position: absolute;
  top: -12px;
  right: -7px;
  background: red;
  font-size: 10px;
  color: #ffffff;
  padding: 3px 5px;
  border-radius: 50%;
}
.mini-cart:hover {
  background-color: #005745;
  color: #fff;
}

.search-content {
  position: relative;
  flex-grow: 0.6;
}

.search-content > button {
  display: inline-block;
  padding: 0;
  position: absolute;
  left: 15px;
  top: 9px;
  z-index: 3;
  background: none;
  opacity: 0.8;
  min-width: 0;
}

.input-search {
  width: calc(100% - 10px);
  max-width: 600px;
  min-width: 600px;
  border: 1px solid #005745;
  /* border-radius: 12px; */
  background-color: #f6f4f2;
  padding: 5px 10px 5px 60px;
  margin: 5px;
  opacity: 0.5;
  transition: border 0.1s ease-in;
}

.input-search:focus {
  border: 2px solid #005745;
  opacity: 1;
}

.c-user {
  position: relative;
  font-weight: 500;
  transition: all 0.2s ease-in;
}

.c-user:hover {
  border: 3px solid #005745;
  padding: 5px 20px;
  flex-direction: row-reverse;
  margin-right: 20px;
}

.sub-c-user {
  border-top-right-radius: 0.375rem /* 6px */;
  border-bottom-left-radius: 0.375rem /* 6px */;
  border-bottom-right-radius: 1.5rem /* 24px */;
  border-top-left-radius: 1.5rem /* 24px */;
  color: #005745;
  text-align: center;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.c-user > .sub-c-user {
  display: none;
}

.c-user:hover > .sub-c-user {
  display: inline-block;
}

.sub-c-user > li {
  padding: 5px 5px;
  border-top-right-radius: 0.375rem /* 6px */;
  border-bottom-left-radius: 0.375rem /* 6px */;
  border-bottom-right-radius: 1.5rem /* 24px */;
  border-top-left-radius: 1.5rem /* 24px */;
  transition: all 0.1s ease-in-out;
}

.sub-c-user > li:hover {
  border: 3px solid #005745;
  padding: 10px 10px;
}
